
.container {
  width: 800px;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

.textarea {
  margin: 50px;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.keyboard_container {
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  background-color: rgb(233, 203, 203);
}

.row {
  display: flex;
  flex-flow: row nowrap;
  margin: 5px 10px;
  padding: 0;
}

.cell.blur {
  background-color: palevioletred;
  box-shadow: 
    0 0 5px orchid,
    2px 2px 2px orchid;
}

.cell {
  margin: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  background: seashell;
  text-align: center;
  &:first-child,
  &:last-child {
    flex-grow: 1;
  }
  &:hover {
    cursor: pointer;
    background-color: palevioletred;
    box-shadow: 
      0 0 5px orchid,
      2px 2px 2px orchid;
  }
  &:active {
    cursor: pointer;
    background-color: plum;
    box-shadow: 
      0 0 5px orchid,
      inset 0 0 2px black;
  }
}

.Space {
  width: 40%;
}



